---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Events from "../components/Events.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Events />
  </main>
  <Footer />
</Layout>

<style></style>

<script></script>
