<nav class="flex items-center justify-between bg-primary/70 p-5">
  <h1 class="font-bold text-2xl">TicketNoa</h1>
  <ul>
    <li><a href="/" class="hover:underline">Iniciar Sesion</a></li>
  </ul>
</nav>
